{{- if not .Values.backend.existingSecret }}
{{- $secretName := .Values.backend.secretName | default .Release.Name }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
data:
  {{- range $key, $val := .Values.backend.secrets }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end}}
{{- end -}}